body {  /* setting size width/height for body doesn't work well in legacy */
    background-color: #33CCFF;
}

.pageWrapper {
	max-width:1000px;
	margin: 0 auto; /* this is magic */
	overflow:hidden;
}

nav {
	margin-top: 30px;
	border-radius: 5px 5px 0px 0px;
	max-width: 100%;
	height: 40px;
    background-color: white;
    text-align: center;
}

.banner {
	width: 100%;
	height: 300px;
 	background: linear-gradient(black, #33CCFF); /* Standard syntax */
 	margin-bottom: 20px;
}
article {
	box-shadow: 0 0 25px;
	cursor:pointer;
}
.mainContent {
	width: 100%;
}

@keyframes lift{
	  0%    {box-shadow:none;}
	100%	{box-shadow: 0px 0px 25px red;}
}

#articleLeft {
	border-radius: 5px 0px 0px 5px;
	float: left;
	width: 32%;
	height: 400px;
	background-color: white;
	margin-right: 2%;
	margin-bottom: 10px;
}

#articleLeft:hover, #articleMiddle:hover, #articleRight:hover {
	/*animation: lift 3s forwards linear alternate infinite;*/
	/*animation-duration: 1s;
	animation-fill-mode: forwards;*/
	/*border-radius: 10px;*/
}

#articleMiddle {
	float: left;
	width: 32%;
	height: 400px;
	background-color: white;
	margin-right: 2%;
	margin-bottom: 10px;
}

/*.articleMiddle:hover {
	animation-name: lift;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}*/

#articleRight {
	border-radius: 0px 5px 5px 0px;
	float: left;
	width: 32%;
	height: 400px;
	background-color: white;
	margin-bottom: 10px;
}

/*.articleRight:hover {
	animation-name: lift;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#articleLeft {
		border-radius: 5px 5px 0px 0px;
		width: 100%;
		margin-bottom: 30px;
	}

	#articleMiddle {
		width: 100%;
		margin-bottom: 30px;
	}

	#articleRight {
		border-radius: 0px 0px 5px 5px;
		width: 100%;
		margin-bottom: 30px;
	}
}
 
/* Smartphones (portrait and landscape) ----------- 
@media only screen and (min-width : 320px) and (max-width : 480px) { {

	.articleLeft {
		border-radius: 5px 5px 0px 0px;
		width: 100%;
		margin-bottom: 30px;
	}

	.articleMiddle {
		width: 100%;
		margin-bottom: 30px;
	}

	.articleRight {
		border-radius: 0px 0px 5px 5px;
		width: 100%;
		margin-bottom: 30px;
	}
    
}
*/
footer {
	width: 100%;
	height: 200px;
}
